build/signIn.html
<!DOCTYPE html><html lang="en"><head><title>SIP</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><script src="static/dep/angular.min.js"></script><script src="static/dep/mask.js"></script><script src="static/app/index.js"></script><link rel="stylesheet" href="./static/css/bulma.css"><link rel="stylesheet" href="./static/css/style.css"></head><body ng-app="sip"><nav class="nav"><div class="nav-left"><a href="#" class="nav-item"><img src="./static/imgs/telephone.svg" alt="Наше лого"><h1>SIP</h1></a></div><div class="nav-center"><a href="#" class="nav-item"><span class="icon"><i class="fa fa-github"></i></span></a><a href="#" class="nav-item"><span class="icon"><i class="fa fa-twitter"></i></span></a></div><span class="nav-toggle"><span></span><span></span><span></span></span><div class="nav-right nav-menu"><a href="#" class="nav-item">О продукте</a><a href="#" class="nav-item">Документация</a></div></nav><section ng-controller="Auth" class="signIn hero is-primary"><div class="hero-body"><div class="container"><h1 class="title">Страница входа</h1><h2 class="subtitle">Пожалуйста авторизуйтесь</h2><div class="columns"><div class="column is-one-third signIn-form"><div ng-show="error" class="notification is-danger"><button class="delete"></button>  Ошибка входа</div><label class="label">Логин</label><p class="control has-icon has-icon-right"><input name="login" type="text" placeholder="Введите логин" ng-model="login" class="input"><i class="fa"></i></p><label class="label">Пароль</label><p class="control has-icon has-icon-right"><input name="pass" type="password" placeholder="Введите пароль" ng-model="pass" class="input"><i class="fa"></i></p><label class="label">Ip адрес</label><p class="control has-icon has-icon-right"><input name="ip" type="text" ng-model="address" class="input"><i class="fa"></i></p><input ng-click="loginSend()" type="button" value="Войти" class="button is-primary"></div></div></div></div></section></body></html>

signIn.jade
doctype html
html(lang="en")
    head
        title SIP
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src="static/dep/angular.min.js")
        script(src="static/dep/mask.js")
        script(src="static/app/index.js")
        link(rel='stylesheet', href='./static/css/bulma.css')
        link(rel='stylesheet', href='./static/css/style.css')
    body(ng-app='sip')
        nav.nav
            .nav-left
                a.nav-item(href='#')
                    img(src='./static/imgs/telephone.svg', alt='Наше лого')
                    h1 SIP
            .nav-center
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-github
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-twitter
            span.nav-toggle
                span
                span
                span
            .nav-right.nav-menu
                a.nav-item(href='#')
                    | О продукте
                a.nav-item(href='#')
                    | Документация

        section.signIn.hero.is-primary(ng-controller="Auth")
            .hero-body
                .container
                    h1.title
                        | Страница входа
                    h2.subtitle
                        | Пожалуйста авторизуйтесь
                    .columns
                        .column.is-one-third.signIn-form
                            .notification.is-danger(ng-show="error")
                                button.delete
                                |   Ошибка входа
                            label.label Логин
                            p.control.has-icon.has-icon-right
                                input.input(name='login',type='text', placeholder='Введите логин', ng-model='login')
                                i.fa
                            label.label Пароль
                            p.control.has-icon.has-icon-right
                                input.input(name='pass',type='password', placeholder='Введите пароль',ng-model='pass')
                                i.fa
                            label.label Ip адрес
                            p.control.has-icon.has-icon-right
                                input.input(name='ip',type='text', ng-model="address")
                                i.fa
                            input.button.is-primary(ng-click="loginSend()",type="button",value='Войти')
